body {
    font-family: Arial, sans-serif;
    background-color: #2B2B2B;
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    color: #DB4A2B;
    transition: all 0.2s ease-in;
}

a:hover{
    color: #E6E6DD;
    transition: all 0.4s ease-out;
}

header {
    color: #E6E6DD;
    text-align: center;
    padding: 20px;
}

.content {
    background-color: #E6E6DD;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Content */


.container{
    display: grid;
    background-color: #000;
    width: 748px;
    height: 748px;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 22px;
    gap: 9px;
}

.item{
    background-color: #F0F1EC;
}

.red{
    background-color: #E72F24;
}

.white1{
    grid-column: span 3;
}

.white2{
    grid-row: span 2;
}

.white3{
    grid-row: span 2;
    grid-column: span 2;
}

.blue{
    background-color: #004592;
    margin-bottom: 10px;
}

.white4{
    grid-row: span 2;
}

.yellow{
    background-color: #F9D01E;
}

.black{
    background-color: #232629;
}

footer {
    text-align: center;
    padding: 20px;
    color: white;
}

footer a{
    text-decoration: none;
}