body {
    font-family: Arial, sans-serif;
    background-color: #2B2B2B;
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    color: #DB4A2B;
    transition: all 0.2s ease-in;
}

a:hover{
    color: #E6E6DD;
    transition: all 0.4s ease-out;
}

header {
    color: #E6E6DD;
    text-align: center;
    padding: 20px;
}



.content {
    background-color: #E6E6DD;
    text-align: center;
    padding: 50px;
}

.animated-box {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.animated-box:hover {
    transform: rotate(45deg);
}

footer {
    text-align: center;
    padding: 20px;
    color: white;
    style
}